@import 'tailwindcss';

:root {
  font-family: 'Noto Sans', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding: 10vh 10vw;
}

#root {
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
}


input,
select,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

svg {
  width: 100%;
  height: 100%;
}

button,
a {
  transition: all 0.3s ease-in-out;
  will-change: contents;
}

button:hover,
a:hover {
  transform: scale(1.02);
}

button:focus {
  outline: none;
}

dialog {
  margin: auto;
}

dialog:focus {
  outline: none;
}

dialog[open] {
  animation: slide-in-from-top 0.35s ease-out;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply h-1 w-1;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply rounded-[2px] bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-black/30 rounded-[2px];
}

.custom-shadow {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);

}

@theme {
  --breakpoint-xs: 480px;
}

@keyframes slide-in-from-top {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}